   /*Gerais*/

html{
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 2em;
  }
body{
    font-family: 'roboto', sans-serif;

}

.row{
    margin: 0;
    padding: 70PX 0;

}

p, li{
    color: #444;
    font-size: 14px;
}

strong{
     color: #31C1D5;
}
/*barra de navegação*/

header .navbar {
    background-color: #353D41;
}


#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
#logo{
    width: 200px;
    padding-right: 5px;
}

.navbar-brand  {
    padding: 0;
    color: #fff;
}
.barbut{color: black;}

.nav-link:focus, .nav-link, .nav-link:hover{color: white;}

.navbar-brand:hover {color: #65DAF9;}

.teste{color: black;}



#navbar-links  a{color: white;}

.navbar-nav .nav-link{
    padding-left: 8px;
}
.link, .nav-link:hover { color: #65DAF9;}


.navbar-dark .navbar-nav .nav-link {
    padding: 1rem .8rem;    
}

.navbar-toggler{
    background-color: white;
    color: whitesmoke;
}


/*slider carousel*/

.container-fluid{
    padding: 0;
}


.caroimg{
    object-fit: cover;
    height: 600px;
    
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn{
    background-color: #059dc7;
    color: rgb(253, 253, 253);
    text-transform: uppercase;
    width: auto;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border:3px solid transparent;
    text-decoration: none;
    transition: .5s;
}



.main-btn:hover{
      text-decoration: none;
      background-color: transparent;
      border-color: #65DAF9;
      color: white;
}

.carousel-indicators .active {background-color: #65DAF9;}

/*  Sobre a Empresa */

#about-area{
    background-color: #f9f9f9;
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after{
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    margin-top: 10px;
    left: 43%;
    border-top: 2px solid #333;
   
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list{
    list-style: none;
    padding-left: 0;

}

#about-list li{
    line-height: 30px;
}

#about-list i{
    color: #65DAF9;
}

/*serviços*/

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover >h4{
     color: #65DAF9;

}


/* data */






.container1 .card {
    position: relative;
    background: rgba(255, 255, 255, 0);
    border: 0;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.container1 .card:nth-child(1) {
    animation: zoom 0.4s ease-in-out forwards;
}

.container1 .card:nth-child(2) {
    animation: zoom 0.4s ease-in-out forwards;
    animation-delay: 0.2s;
}

.container1 .card:nth-child(3) {
    animation: zoom 0.4s ease-in-out forwards;
    animation-delay: 0.4s;
}

.container1 .card:nth-child(4) {
    animation: zoom 0.4s ease-in-out forwards;
    animation-delay: 0.4s;
}

@keyframes zoom {
    to {
        transform: scale(1);
    }
}

.container1 .card:hover {
    margin-top: -10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0);
}

.container1 .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
    z-index: 1;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: rgba(34, 34, 34, 0);
    z-index: 1000;

}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: #777;
    font-weight: 500;
    font-size: 30px;
    transition: 0.5s;
}

.card:hover .percent .number h2 {
    color: #fff;
    font-size: 50px;
}

.percent .number h2 span {
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}

.card:hover .percent .number h2 span {
    color: #fff;
}

.text {
    position: relative;
    color: rgb(251, 251, 251);
    margin: 20px;
    font-weight: 700;
    font-size: 18px;
    width: 180px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover .text {
    color: #65DAF9;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #19191900;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #65DAF9;

}

.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #65DAF9;

}

.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: #65DAF9;

}


.card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: #65DAF9;

}

div.box.container {
      width: 200px;
}

.btncenter{
    text-align: center;
    margin-top: 30px;
    width: auto;
    font-size: 11px;
    margin-bottom: 10px;
}

.btncenter2{
    text-align: center;
    margin-top: 10px;
    width: auto;
    font-size: 11px;
    margin-bottom: 10px;
    
}

.btncenteratt{
    
        text-align: center;
        margin-top: 30px;
        width: auto;
        font-size: 25px;
        margin-bottom: 10px;
    
}



/*  imagem parallax */ 

.box{background-color: transparent;}

.banner{
    background-image: url(../img/cidadeparallax.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

}

/* card */

.card-largura{
    max-width: 18rem;
}

.imagem-card{
    object-fit: cover;
    height: 400px;

} 

.main-btnc{
    background-color: #059dc7;
    color: rgb(253, 253, 253);
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border:3px solid transparent;
    text-decoration: none;
    transition: .5s;
}



.main-btnc:hover{
      text-decoration: none;
      background-color: transparent;
      border-color: #65DAF9;
      color: rgb(0, 0, 0);
}

/* trabalhe conosco */

#company-img{
     background-image: url(../imagens/quarto2.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: scroll;
     
}

#pattern-img{
    background-image: url(../img/pattern.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.applyTBC{
     height: 500px;
     text-align: center;
}

.applytext{
       padding: 70px 50px;
       
       
}

#pattern-img h4, #pattern-img p {
    color: white;
}

#pattern-img h4{
       margin-top: 8%;
       margin-bottom: 20px;
       text-transform: uppercase;
}

#pattern-img p {
    margin-bottom: 20px;
}

#apply-btn{
     display: block;
     height: auto;
     width: 180px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
     background-color: transparent;
     border-color: white;
     color: white;


}

#apply-btn:hover {
     border: #65DAF9;
     background-color: #65DAF9;
}

/* conheça nossos projetos  */

.cnptitle{
      padding-top: 40px;
}

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}

#portifolio-area .filter-btn{
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#portifolio-area .filter-btn:hover, #portifolio-area .filter-btn.active{
    background-color: #059dc7;
    color: rgb(253, 253, 253);
    border-color: #65DAF9;
}  

.imgp{
      height: 400px;
      position: cover;
}

/* news-letter */

#news-area {
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 100px;
    padding-top: 100px;
}

#news-area > forms {
     text-align: center;
}

#news-area  p{
    font-size: 18px;
    margin-bottom: 40px;
}
#email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #65DAF9;
    display: inline;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
}

#email-input:hover , #mail-inpout:active{
     box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.082);
}

#news-btn{
    
    border: 0;
    padding: 0 10px;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 40px;
    border: 1px solid #65DAF9;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    background-color: #65DAF9;
    margin-left: -35px;
    transition: 0.5s;
     text-align: left;
    width: 100%;
    min-width: 100px;  
}

#news-btn:hover{
    background-color: white;
    color: #65DAF9;
 }


 /* Call to area  */

#call-area{
    background-color: #65DAF9;
    text-transform: uppercase;
}

#call-area .container{
      padding: 20px 80px;
}

#call-area .row {
    display: block;
    text-align: center;

}

#call-area p{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#call-area #call-btn {
      background-color: white;
      color: #65DAF9;
      font-weight: bold;
      font-size: 25px;
      margin-left: 30px;
      width: auto;
      letter-spacing: 2px;
      text-align: center;
      padding: 0 15px;
}

/*  footer-conta-area */

#contact-area{
    text-align: center;
}

.contact-box {
    padding-bottom: 50;
    margin-bottom: 50px;
    border-bottom: 1px solid #31C1D5;

}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    padding-left: 16px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 25px;
    margin-bottom: 20px;
}


.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #65DAF9;
}

#msg-box p {
    text-align: center;
    font-size: 22px;
}

#contact-form input[type="text"],#contact-form input[type="email"],
#contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;   
}

#contact-form .main-btn {
    width:120px;
    height: 50px;
}

#contact-form .main-btn:hover {
    width:120px;
    height: 50px;
    color: #31C1D5;
}

.contact-box .iconevelope{
    padding-left: 15px;
}



/* footer - copy-area  */

#copy-area{
    background-color: #F1F1F1;
}

#copy-area .container{
    padding: 2px 0;
    text-align: center;

}

#copy-area .container p{
    margin-bottom: 0;
    padding:10px 0;
}

#copy-area .container a{
    font-weight: bold;  
    color: #444; 
}

#copy-area .container a:hover{
    text-decoration: none;
    color: #31C1D5;
}